* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #d8f4f3;
    padding: 30px 0px;
}

h1,
h2 {
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #424242;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    color: #424242;
    font-style: normal;
}

p {
    text-align: center;
    font-size: 30px; 
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    color: #424242;
    font-style: normal;
  }

  .card {
    width: 80%;
    margin: 40px auto;
    background-color: #d8f4f3;
    border: 5px solid #d8f4f3;
    box-shadow: 5px 10px #888888;
  }